/* ここに貼る */
.markdown-preview-view table { width: 100%; table-layout: fixed; }
.markdown-preview-view th, .markdown-preview-view td { padding: .6rem .7rem; vertical-align: top; }
.markdown-preview-view td:nth-child(2),
.markdown-preview-view td:nth-child(3) { text-align: center; white-space: nowrap; width: 140px; }
